* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    text-align: center;
    color: #f23030;
    background-color: #baf2ed;
    font-family: 'Gloria Hallelujah', cursive;
}

.tools {
    width: 25%;
    height: 400px;
    display: inline-block;
    float: left;

}

.design_canvas {
    width: 65%;
    height: 400px;
    display: inline-block;
    float: left;
}

h1 {
    font-size: 70px;
    margin: 0.2em;
}

h2 {
    margin: 1em 0 0.25em;
}

h3 {
    border: 2px solid #f23030;
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}


button {
    background-color: red;
    color: white;
}

[type=color] {
    height: 6em;
    width: 6em;
}
